.about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('src/assets/GameOver.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
  }