.background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Place the video behind other elements */
  }
  
  .background-video {
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
  }